In [2]:
import  pandas as pd
import numpy as np

values = pd.Series(['apple','orange','apple','apple'] * 2)
values

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
dtype: object

In [3]:
pd.unique(values)

array(['apple', 'orange'], dtype=object)

In [4]:
pd.value_counts(values)

apple     6
orange    2
dtype: int64

In [7]:
values = pd.Series([0,1,0,0] * 2)
dim = pd.Series(['apple','orange'])
values

0    0
1    1
2    0
3    0
4    0
5    1
6    0
7    0
dtype: int64

In [8]:
dim

0     apple
1    orange
dtype: object

In [9]:
dim.take(values)

0     apple
1    orange
0     apple
0     apple
0     apple
1    orange
0     apple
0     apple
dtype: object

In [16]:
fruits = ['apple','orange','apple','apple'] * 2
N = len(fruits)
df = pd.DataFrame({'fruit' :fruits,
                  'basket_id' :np.arange(N),
                  'count': np.random.randint(3,15,size=N),
                  'weight' : np.random.uniform(0,4,size = N)
                  },
                 columns=['basket_id','fruit','count','weight'])
df

   basket_id   fruit  count    weight
0          0   apple     10  2.541806
1          1  orange      5  1.915568
2          2   apple      5  3.991514
3          3   apple      9  3.894576
4          4   apple     14  2.140173
5          5  orange     14  1.371453
6          6   apple      9  0.563771
7          7   apple      3  1.048716

In [18]:
fruit_cat = df['fruit'].astype('category')
fruit_cat

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): [apple, orange]

In [19]:
c = fruit_cat.values

In [20]:
c

[apple, orange, apple, apple, apple, orange, apple, apple]
Categories (2, object): [apple, orange]

In [21]:
type(c)

pandas.core.categorical.Categorical

In [24]:
c.categories

Index(['apple', 'orange'], dtype='object')

In [25]:
c.codes

array([0, 1, 0, 0, 0, 1, 0, 0], dtype=int8)

In [26]:
df['fruit']  = df['fruit'].astype('category')
df.fruit

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): [apple, orange]

In [27]:
my_categories = pd.Categorical(['foo','bar','baz','foo','bar'])
my_categories

[foo, bar, baz, foo, bar]
Categories (3, object): [bar, baz, foo]

In [28]:
categories = ['bar','baz','foo']
code = [0,1,2,0,0,1]
my_cast2 = pd.Categorical.from_codes(code,categories)
my_cast2

[bar, baz, foo, bar, bar, baz]
Categories (3, object): [bar, baz, foo]

In [29]:
my_cast2 = pd.Categorical.from_codes(code,categories,ordered=True)
my_cast2

[bar, baz, foo, bar, bar, baz]
Categories (3, object): [bar < baz < foo]