### pandas 数据结构
####  series
#### DateFrame

In [5]:
# Series
import pandas as pd
a = pd.Series([1,2,34,5])
print(a)
print(a.values)
print(a.index)

0     1
1     2
2    34
3     5
dtype: int64
[ 1  2 34  5]
RangeIndex(start=0, stop=4, step=1)

#### 生成待索引的Series

In [6]:
a = pd.Series([1,2,3,4],index=['a','b','c','d'])
a

a    1
b    2
c    3
d    4
dtype: int64

In [7]:
a.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [13]:
### Series  索引取值
a['a']
a[['a','b']]

1

In [14]:
###  Series 函数运算取值
a[a>2]

c    3
d    4
dtype: int64

In [15]:
a * 2

a    2
b    4
c    6
d    8
dtype: int64

In [16]:
import numpy as np
np.exp(a)

a     2.718282
b     7.389056
c    20.085537
d    54.598150
dtype: float64

In [18]:
'b' in a

True

In [19]:
2 in a

False

In [20]:
dicta = {'a':1,'b':2,'c':3}
a = pd.Series(dicta)
a

a    1
b    2
c    3
dtype: int64

In [21]:
keylist = ['b','c','d','e']
# 指定索引, 无值用NAN代替
a2 = pd.Series(dicta,index=keylist)
a2

b    2.0
c    3.0
d    NaN
e    NaN
dtype: float64

In [22]:
pd.isnull(a2)

b    False
c    False
d     True
e     True
dtype: bool

In [23]:
pd.notnull(a2)

b     True
c     True
d    False
e    False
dtype: bool

In [25]:
a2.isnull()

b    False
c    False
d     True
e     True
dtype: bool

In [26]:
a2.notnull()

b     True
c     True
d    False
e    False
dtype: bool

In [28]:
a + a2

a    NaN
b    4.0
c    6.0
d    NaN
e    NaN
dtype: float64

In [31]:
a2.name = 'haha'
a2.index.name = 'state'
a2

state
b    2.0
c    3.0
d    NaN
e    NaN
Name: haha, dtype: float64

In [33]:
### 修改Series 索引
a2.index = ['ni','wo','ta','shui']
a2

ni      2.0
wo      3.0
ta      NaN
shui    NaN
Name: haha, dtype: float64

### DataFrame 数据结构

In [41]:
data = {'state':['a','b','c'],
       'year':[2011,2012,2013],
       'pop':[1.1,1.2,1.3]}
frame = pd.DataFrame(data)
frame
frame.head()   #  显示前五行
pd.DataFrame(data,columns=['year','state','pop'])  #  指定顺序排列

   pop state  year
0  1.1     a  2011
1  1.2     b  2012
2  1.3     c  2013

In [46]:
### DateFrame  获取某一列Series
# frame['year']
frame.year
frame.loc[0]  # 获取某一行
frame['year'] = 2012   #  修改赋值
frame

   pop state  year
0  1.1     a  2012
1  1.2     b  2012
2  1.3     c  2012

In [52]:
frame2 = pd.DataFrame(frame,columns=['year','state','pop','mounte'])  #  没有 直接补NAN
frame2
frame2.columns

Index(['year', 'state', 'pop', 'mounte'], dtype='object')

In [53]:
temp = pd.Series([-1,-2],index=[0,1])    #增加一列值，与对应索引
frame2['mounte'] = temp
frame2

   year state  pop  mounte
0  2012     a  1.1    -1.0
1  2012     b  1.2    -2.0
2  2012     c  1.3     NaN

In [54]:
frame2['esure']  = frame.state =='Oiho'
frame2

   year state  pop  mounte  esure
0  2012     a  1.1    -1.0  False
1  2012     b  1.2    -2.0  False
2  2012     c  1.3     NaN  False

In [55]:
del frame2['esure']

In [56]:
frame2

   year state  pop  mounte
0  2012     a  1.1    -1.0
1  2012     b  1.2    -2.0
2  2012     c  1.3     NaN