In [4]:
import  pandas as pd
import numpy as np
df = pd.DataFrame({'key1' :['a','a','b','b','a'],
                  'key2':['one','two','one','two','one'],
                  'data1' : np.random.randn(5),
                  'data2' :np.random.randn(5)})
df

      data1     data2 key1 key2
0  0.565164 -0.881415    a  one
1  0.708417 -1.123847    a  two
2 -0.627630  0.979932    b  one
3  1.255829 -0.312249    b  two
4 -1.783691  0.072721    a  one

In [5]:
group1 = df['data1'].groupby(df['key1'])
group1

In [6]:
group1.mean()

key1
a   -0.170037
b    0.314100
Name: data1, dtype: float64

In [7]:
means = df['data1'].groupby([df['key1'],df['key2']]).mean()
means

key1  key2
a     one    -0.609263
      two     0.708417
b     one    -0.627630
      two     1.255829
Name: data1, dtype: float64

In [9]:
means.unstack()

key2       one       two
key1
a    -0.609263  0.708417
b    -0.627630  1.255829

In [10]:
states = np.array(['Ohio','cali','cali','Ohio','Ohio'])
years = np.array([2005,2005,2006,2005,2006])
df['data1'].groupby([states,years]).mean()

Ohio  2005    0.910497
      2006   -1.783691
cali  2005    0.708417
      2006   -0.627630
Name: data1, dtype: float64

In [11]:
df.groupby('key1').mean()

         data1     data2
key1
a    -0.170037 -0.644180
b     0.314100  0.333841

In [12]:
df.groupby(['key1','key2']).mean()

              data1     data2
key1 key2
a    one  -0.609263 -0.404347
     two   0.708417 -1.123847
b    one  -0.627630  0.979932
     two   1.255829 -0.312249

In [13]:
df.groupby(['key1','key2']).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

In [16]:
for name ,group in df.groupby('key1'):
    print(name)
    print(group)

a
      data1     data2 key1 key2
0  0.565164 -0.881415    a  one
1  0.708417 -1.123847    a  two
4 -1.783691  0.072721    a  one
b
      data1     data2 key1 key2
2 -0.627630  0.979932    b  one
3  1.255829 -0.312249    b  two

In [18]:
for (k1,k2),group in df.groupby(['key1','key2']):
    print(k1,k2)
    print(group)

a one
      data1     data2 key1 key2
0  0.565164 -0.881415    a  one
4 -1.783691  0.072721    a  one
a two
      data1     data2 key1 key2
1  0.708417 -1.123847    a  two
b one
     data1     data2 key1 key2
2 -0.62763  0.979932    b  one
b two
      data1     data2 key1 key2
3  1.255829 -0.312249    b  two

In [19]:
pieces = dict(list(df.groupby('key1')))
pieces

{'a':       data1     data2 key1 key2
 0  0.565164 -0.881415    a  one
 1  0.708417 -1.123847    a  two
 4 -1.783691  0.072721    a  one, 'b':       data1     data2 key1 key2
 2 -0.627630  0.979932    b  one
 3  1.255829 -0.312249    b  two}

In [20]:
df.dtypes

data1    float64
data2    float64
key1      object
key2      object
dtype: object

In [21]:
group2 = df.groupby(df.dtypes,axis=1)
for dtype,group in group2:
    print(dtype)
    print(group)

float64
      data1     data2
0  0.565164 -0.881415
1  0.708417 -1.123847
2 -0.627630  0.979932
3  1.255829 -0.312249
4 -1.783691  0.072721
object
  key1 key2
0    a  one
1    a  two
2    b  one
3    b  two
4    a  one